* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;

    min-height: 100vh;
}

#game-div {

    padding-top: 20rem; 
}

span {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
    
}

p {
    font-weight: 300;
    margin-bottom: .8rem;
}

#title {
    font-size: 200.5%;
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background: rgb(34, 33, 33);
}

.organize {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.puzzle {

margin-bottom: 4.8rem;
display: flex;
align-items: center;
justify-content: center;  

}




.button {
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    cursor: pointer;
    color: white;
    font-size: 1.7rem;
    font-weight: 300;
    padding: .9rem 1.9rem .9rem  1.9rem;
    margin-right: .5rem;
    margin-top: .5rem;
    transition: background .3s ease, color .3s ease;
    border-radius: 90px;
    
}

.button:hover {
    background: #5F3A87;
}
.button:focus {
    outline: none;
  box-shadow: none;
}

#author {
    font-size: 1.2rem;
    margin: 0 .7rem .4rem 0;
    position: absolute;
    bottom:0;
    right:0;

}